@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.header {
  width: 100%;
  background-color: $secondary-color;
  @include flex(row, space-around);
  align-items: center;

  &__title {
    font-size: 3rem;
  }

  &__searchbar {
    height: 4rem;
    border: 0.5px solid $inactive-button-color;
    border-radius: 2rem;
    width: 25rem;
    background: url(../../assets/icons/search.svg) left no-repeat;
    background-position-x: 1rem;
    padding-left: 3.5rem;
  }

  &__login-dropdown {
    @include flex(row, space-around);
    font-size: 1.2rem;
    border: 1px black dashed;
    align-items: center;
  }
}
