//primary colors
$primary-text-color: #ffffff;
$primary-background-color: #0f0e0e;

//secondary colors
$secondary-text-color: rgb(207, 207, 207);
$secondary-background-color: rgb(236, 236, 236);

$border-color: #ff92ad;
// $active-color: #dbb000;

//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$maximum-width: 1020px;
