//primary colors
$primary-text-color: #ffffff;
$primary-background-color: #0f0e0e;

//secondary colors
$secondary-text-color: #800020;
$secondary-background-color: #edc05c;

$border-color: #800020;
// $active-color: #dbb000;

//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$maximum-width: 1020px;
